{{> navigator}}
<div class="cards-holder">
  {{#each restaurants}}
    {{> restaurant this}}
  {{/each}}
</div>

<div class="cards-holder">
  {{#each vegetarian}}
    {{> vegetarian this}}
  {{/each}}
</div>